<!-- 
<section>

  <div class="container mt-5" id="top">
    <div class="user signinBx">
      <div class="formBx">
        <div class="container1">
        <form method="post" action="/getemailforforgotpassword">
          <% if(locals.email != null){ %>
          <input type="text" name="emailForForgotPassword" id="emailForForgotPassword" class="mt-4 w-100" value="<%= locals.email %>" required />
          <% }else{ %> 
            <input type="text" name="emailForForgotPassword" id="emailForForgotPassword" class="mt-4 w-100" placeholder="Enter your email here" required />
<% } %>
          <br />
          <button type="submit" class="btn btn-dark mt-4">Generate otp</button>          
      </form>        
    </div>
    </div>
    

      <div class="formBx">
        
      <div class="container1">

      <form method="post" action="/forgotpassword">
        <input type="text" name="FPOtp" id="otp_code" class="mt-4" placeholder="Enter otp here" />
        <button type="submit" class="btn btn-dark mt-4">Verify otp</button>
        <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
      </form>

</div>
      </div>
  </div>
</div>
</section>





 -->

<%- include('../layouts/userheader.ejs'); -%>
<body class="my-auto bg-light">
<div class="container mx-auto my-auto" id="top" style="height: 100vh;">
  
    <div class="row align-items-center mt-5 pt-5" >
     
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 mx-auto mt-5 pt-5 align-self-center bg-white  border rounded" id="generate" >
<h3 class="py-2 mb-3">PASSWORD RESET</h3>
        <form method="post"   id="getemailforforgotpassword">
         <input type="text"  name="emailForForgotPassword" id="emailForForgotPassword" class=" form-control mt-4 " placeholder="Enter your email " required />
       <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
       <button type="submit" class="btn btn-dark my-4" onclick="generateOTP()">Generate OTP</button>
       <button type="submit" class="btn btn-dark my-4">Resend OTP</button>

    </form>

    
                
            <form method="post" id="checkotp">
              <input type="text" name="FPOtp" id="otp_code" class="mt-4 form-control" placeholder="Enter OTP" />
              <button type="submit" class="btn btn-dark mt-4" onclick="checkotp()">Verify otp</button>
              <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
            </form>
            <script>
              function checkotp() {
                var FPOtp = $("#otp_code").val()
                $("#checkotp").submit((e) => {
    e.preventDefault();
                $.ajax({
                  url:'/forgotpassword',
                  method:'post',
                  data:{
                    FPOtp:FPOtp
                  },
            success:(res)=>{
              console.log(res)
             if(res.success===true){
              alert("if part")
             }else{

              alert(res.message);
             }
            }
                })
                
              })
            }

              function generateOTP() {
        var email = $("#emailForForgotPassword").val()
        $("#getemailforforgotpassword").submit((e) => {
    e.preventDefault();
        
        $.ajax({
          url:'/getemailforforgotpassword',
          method:'post',
          data:{
            emailForForgotPassword:email
          },
    success:(res)=>{
      alert("success");

    }
        })
        
      })
    }
        
              </script>
          </div>
     
    </div>
  </div>

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>


<%- include('../layouts/userfooter.ejs'); -%>












