<%- include('../layouts/userheader.ejs'); -%>

    <p class="text-danger fw-bold mx-auto " id="top">
    </p>
    <br>
    <br>
    <br>
    <br>
    
  <div class="container mx-auto mt-5 bg-light">
  <div class="row">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <button class="btn btn-primary" type="button">Upload new image</button>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form id="AccountDetailsForm">
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                            <input class="form-control" name="firstname" id="firstname" type="text"  value="<%= user.firstname %>">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Last name</label>
                            <input class="form-control" id="lastname" name="lastname"  type="text" placeholder="Enter your last name" value="<%= user.lastname%>">
                        </div>
                    </div>
                   
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="phone" name="phone"  type="tel"  value="<%= user.phone %>">
                        </div>
                       
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="submit" onclick="profileUpdate()">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <script>
      function profileUpdate() {
        $("#AccountDetailsForm").submit((e) => {
          e.preventDefault();
          var firstname= $("#firstname").val()
           var lastname= $("#lastname").val()
         var phone = $("#phone").val()

          $.ajax({
        url:'/loginSecurity',
        method:'post',
        data:{
          firstname: firstname,
          lastname:lastname,
          phone:phone
        },
        success:(res)=>{
          console.log(res)
          if(res.success ==1){
          Swal.fire({
            toast:true,
        position: 'top',
        icon: 'success',
        title: 'Saved Changes',
        showConfirmButton: false,
        timer: 1500
      })
          $('#firstname').val(res.user.firstname);
          $('#lastname').val(res.user.lastname);
          $('#phone').val(res.user.phone);
      
          }
        }
      })
      })
      }
      </script>
  
    <div class="col-md-6 col-6 mt-3  align-items-center float-end" >
      <!-- <div class="border shadow rounded m-3 p-3 bg-white"> -->
<div class="card mb-4">
<div class="card-header">Address</div >
<div class="card-body">
<b><%=user.addresses[0].address_name %></b>  ,<br>
  <%=user.addresses[0].house_no %>,<br>
  <%=user.addresses[0].village %>,
  <%=user.addresses[0].country %>,<br>
  <%=user.addresses[0].city %>,
  <%=user.addresses[0].state %>,<br>
  Pin:<%=user.addresses[0].pincode %>,
  <a href="/addresses" class="text-decoration-none float-end ">view all addresses</a>
</div>
</div>

 </div> 

 <div class="col-md-6 col-6 mt-3  align-items-center float-end" >
  <!-- <div class="border shadow rounded m-3 p-3 bg-white"> -->
<div class="card mb-4">
<div class="card-header">Change Password</div >
<div class="card-body">

  <form id="CheckPasswordForm">
    <label class="small mb-1" for="current_password">Current Password</label>
    <input type="password" name="current_password"  placeholder="" class="form-control p-2 m-2" onkeyup="checkPswd('<%= user._id %>')" id="current_password"><br>
    <span id="message" class=" text-center" > </span>
  </form>
  <form id="ChangePasswordForm" >
    <label class="small mb-1" for="new_passwordrd1">New Password</label>
    <input type="password" name="new_passwordrd1" placeholder="" class="form-control p-2 m-2" id="new_passwordrd1" onkeyup="isSame()" ><br>
  
    <label class="small mb-1" for="new_passwordrd2">Re Type New Password</label>
    <input type="password" name="new_passwordrd2" placeholder="" class="form-control p-2 m-2" id="new_passwordrd2" onkeyup="isSame()" ><br>
    <span id="confirmPasswordErrorMessage"></span>
    <button type="submit" class="btn btn-primary">Change Password</button>
  
  </form>
</div>
</div>

</div> 

    </div>

</div>

    <!-- Back to Top -->
    <a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!--  -->
  <%- include('../layouts/userfooter.ejs'); -%>
<!-- 
  <script>
    function isSame() {
      var new_passwordrd1 = $("#new_passwordrd1").val()
  var new_passwordrd2 = $("#new_passwordrd2").val()

  
  if( new_passwordrd1 != new_passwordrd2){
    $('#confirmPasswordErrorMessage').text('Passwords not matching')
    $("#confirmPasswordErrorMessage").css("color","red") 

  }else{
    $('#confirmPasswordErrorMessage').text('Check your mail for a 4 digit code')
    $("#confirmPasswordErrorMessage").css("color","green") 
  }
    }
function checkPswd(uID) {
  var current_password = $("#current_password").val()
  $.ajax({
    url:'/loginSecurity',
    method:'patch',
    data: current_password,
    success:(res)=>{
      if(res.data =="match"){
        $("#message").html("Enetr new password below") 
        $("#message").css("color","green") 
      }else if(res.data =="notmatch"){
        $("#message").html("Incorrect Password") 
        $("#message").css("color","red") 
      }else{
        $("#message").html("") 
      }
    }
  })
}

  </script>
 
     -->

  <style>body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }</style>

