<%- include('../layouts/userheader.ejs'); -%> 


<!-- Customized Bootstrap Stylesheet -->
<link href="css/style2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

<!-- Page Header Start -->
<div class="container-fluid  " id="top">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="#"  class="text-Jet"> Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Shop</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Shop Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
   
     <div class="col">

      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
        <form>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" checkedid="color-all" checked
            />
            <label class="custom-control-label" for="price-all">All Category</label>
          </div>
          <!-- category loop -->
          <% allCategory.forEach(function(categ){ %>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" >
            <input type="checkbox" class="custom-control-input" id="color-1" onchange="filter('<%= categ._id %>')" />
            <label class="custom-control-label" for="color-1"><%= categ.categoryname%></label>
          </div>
          <% }) %>
          <!-- category loop end  -->
        </form>
      </div>
</div>
      <script>
        function filter(categoryID) {
          $.ajax({
            url:'/shop',
            method:'put',
            data:{
              categoryID : categoryID
            },
            success :(res) =>{
            $("#productSpace").empty(); // Clear the current contents of the div
              res.filteredProducts.forEach(function(product) {
        var productHTML = '<div class="col-lg-4 col-md-6 col-sm-12 col-6 pb-1">' + 
            '<a href="/productdisplay/' + product._id + '">' + 
            '<div class="card product-item border-0 mb-4">' + 
            '<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">' + 
            '<img class="img-fluid w-100" src="images/processed_images/' + product.images[0] + '" />' + 
            '</div>' + 
            '<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">' + 
            '<h6 class="text-truncate mb-3">' + product.product_title + '</h6>' + 
            '<div class="d-flex justify-content-center">' + 
            '<h6>₹' + product.price + '.00</h6>' + 
            '</div>' + 
            '</div>' + 
            '<div class="card-footer d-flex justify-content-between bg-light border">' + 
            '</div>' + 
            '</div>' + 
            '</a>' + 
            '</div>';
        $("#productSpace").append(productHTML);
      });
            }

          })
          
        }
      </script>
    <!-- </div> -->
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
        <!-- search and sort start -->
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <form action="">
              <div class="input-group">
                <input type="search" class="form-control" id="searchTerm" placeholder="Search by name" onkeyup="search()" />
                <script>
function search() {
  var searchTerm = $("#searchTerm").val()
  $.ajax({
    url:'/search?searchInput='+searchTerm,
    method:'put',
    success:(res)=>{
      $("#productSpace").empty(); // Clear the current contents of the div
      res.searchedProducts.forEach(function(product) {
        var productHTML = '<div class="col-lg-4 col-md-6 col-sm-12 col-6 pb-1">' + 
            '<a href="/productdisplay/' + product._id + '">' + 
            '<div class="card product-item border-0 mb-4">' + 
            '<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">' + 
            '<img class="img-fluid w-100" src="images/processed_images/' + product.images[0] + '" />' + 
            '</div>' + 
            '<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">' + 
            '<h6 class="text-truncate mb-3">' + product.product_title + '</h6>' + 
            '<div class="d-flex justify-content-center">' + 
            '<h6>₹' + product.price + '.00</h6>' + 
            '</div>' + 
            '</div>' + 
            '<div class="card-footer d-flex justify-content-between bg-light border">' + 
 '</div>' + 
            '</div>' + 
            '</a>' + 
            '</div>';
        $("#productSpace").append(productHTML);
      });
    }

  })
  
 }
                </script>
                  
                <div class="input-group-append">
                  <span class="input-group-text bg-transparent text-Jet">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </form>
             <!-- sort by -->
             
<div class="dropdown">
  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Sory By
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="dropdown-item" href="#" onclick="sort('A-Z')">A-Z</button></li>
    <li><button class="dropdown-item" href="#" onclick="sort('PLtH')">Price Low to High</button></li>
    <li><button class="dropdown-item" href="#" onclick="sort('PHtL')">Price High to Low</button></li>
  </ul>
</div>
<script>
  function sort(criteria){
    $.ajax({
      url : '/shop',
      method : 'post',
      data : {
        criteria : criteria
      },
      success : (res)=>{
        $("#productSpace").empty(); // Clear the current contents of the div
      res.sortedProducts.forEach(function(product) {
        var productHTML = '<div class="col-lg-4 col-md-6 col-sm-12 col-6 pb-1">' + 
            '<a href="/productdisplay/' + product._id + '">' + 
            '<div class="card product-item border-0 mb-4">' + 
            '<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">' + 
            '<img class="img-fluid w-100" src="images/processed_images/' + product.images[0] + '" />' + 
            '</div>' + 
            '<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">' + 
            '<h6 class="text-truncate mb-3">' + product.product_title + '</h6>' + 
            '<div class="d-flex justify-content-center">' + 
            '<h6>₹' + product.price + '.00</h6>' + 
            '</div>' + 
            '</div>' + 
            '<div class="card-footer d-flex justify-content-between bg-light border">' + 
            '</div>' + 
            '</div>' + 
            '</a>' + 
            '</div>';
        $("#productSpace").append(productHTML);
      });

      }
      })

  }
</script>
              
          </div>
        </div>
       <!-- search and sort end -->
       <!-- foreach loop start -->
       <div class="sample " id="sample">

       </div>
       <!-- <div class="productSpace d-flex flex-wrap" id="productSpace">
        <%  allProducts.forEach(function(products){ %>
<%= products.product_title %><br>
<% } )%>
</div> -->
       <div class="productSpace d-flex flex-wrap" id="productSpace">
         <%  allProducts.forEach(function(products){ %>
          <div class="col-lg-3 col-md-6 col-sm-6 col-6 pb-1"  >
            <a href="/productdisplay/<%= products._id %>">
          <div class="card product-item border-0 mb-4" >
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" >
              <img class="img-fluid w-100" src="images/processed_images/<%= products.images[0] %>" />
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3" >
              <h6 class="text-truncate mb-3"><%= products.product_title %></h6>
              <div class="d-flex justify-content-center">
                <h6>₹<%= products.price %>.00</h6> 
                
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border" >
              <a href="" class="btn btn-sm text-dark p-0" ></a>
              <a href="" class="btn btn-sm text-dark p-0" ></a>
            </div>
          </div>
        </a>
        </div>
        <% }) %>
       </div>
          <!-- foreach loop end -->

        <div class="col-12 pb-1">
          
        </div>
      </div>
    </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>