<%- include('../layouts/userheader.ejs'); -%>
<!-- Customized Bootstrap Stylesheet -->
<link href="css/style2.css" rel="stylesheet" />

<!-- Page Header Start -->
<div class="container-fluid  mb-5" id="top">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Wishlist</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Wishlist</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<div class="container pt-1 pb-5 mb-5  ">
  <% if(wishlist.length ==0){ %>
  <div class="row px-xl-5 mx-auto">
    <div class="col-lg-10 table-responsive table-bordered mb-5 mx-auto">

        <h2 style="text-align: center;" class="my-5 py-5">Empty Wishlist</h2>
        
        <% }else{ %>
      <table class="table text-center mb-5 my-3 ">
        <thead class="text-dark">
          <tr>
            <th>Image</th>
            <th>Products</th>
            <th>Price</th>
            <th>To Cart</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% wishlist.forEach(function(item) { %>
          <tr>
            <a href="">
              <td>
                <img
                  src="/images/processed_images/<%= item.productImage[0][0] %>"
                  alt=" "
                  style="width: 80px"
                />
              </td>
              <td><%= item.productName %></td>
              <td>Rs. <%= item.singlePrice[0] %></td>
            </a>

            <td>
              <button
                class="btn btn-dark px-3"
                onclick="addToCart('<%= item.productId%>')"
              >
                <i class="fa fa-shopping-cart mr-1"></i> Move To Cart
              </button>
            </td>
            <td class=" ">
              <button
                class="btn btn-sm btn-dark"
                onclick="removeWishlist('<%=item._id %>','<%= item.productId%>')"
              >
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
</div>
<!-- wishlist End -->
<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>